html{
  font-size: 62.5%;
  box-sizing: border-box; /*para que no se tome en cuenta en el tamano*/
}

*,*:before, *:after { /*para que no se tome en cuenta en el tamano*/
  box-sizing: inherit;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
}

/*Globales*/
.contenedor{ /*para centrar las secciones*/
  max-width: 120rem;
  margin: 0 auto;
}

h1{
  font-size: 3.8rem;
}

h2{
  font-size: 3.4rem;
}

h3{
  font-size: 3rem;
}

h4{
  font-size: 2.6rem;
}

img {
  max-width: 100% /*Para que se haga responsive, solo imagenes */
}

/*utilidades*/
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fw-300 {
  font-weight: 300;
}

.centrar-texto {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.d-block {
  display: block!important;
}

.contenido-centrado {
  max-width: 800px;
  padding-top: 2rem;
}

/*Botones*/
.boton {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block; /*al ser un enlace estos no poseen un display block las imagenes tampoco) y por eso no vale darle un ancho, o utilizar margin top para separar los botonespara eso se debe transformar en inline-block*/
  text-align: center;
}

.boton-amarillo {
  background-color: #E08709;
}

.boton-verde {
  background-color: #71B100;

}
/*Header */
.site-header{
  background-color: #333333;
  padding: 1rem 0 3rem 0;
}

.site-header.inicio {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; /*para cubrir todo el espacio de la pantalla*/
  min-height: 60rem; /*para cuando se le haga pequeña la pantalla cuando se arrastre hasta lo minimo */
}

.contenido-header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenido-header h1{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 3rem;
  padding-bottom: 2rem;
  max-width: 50rem;
  line-height: 5rem;
}

.barra {
  display: flex;
  justify-content:space-between;
  padding-top: 3rem;
  align-items: center;
}

/*navegacion*/
.navegacion a{
  color: rgba(246, 133, 74, 0.81);
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}

.navegacion a:hover {
  color: rgba(244, 108, 38, 1);
}

.navegacion a:last-of-type {
  margin-right: 0px;
}

.iconos-nosotros {
  display: flex;
  justify-content: space-between;
}

.icono {
  flex-basis: calc(33.3% - 2rem); /*para que le agregue espaciado entre los divs*/
  text-align: center;
}

.icono h3 {
  text-transform: uppercase;
  line-height: 3.5rem;
  height: 5rem; /*Para mejorar la separacion entre h3 y p y se vea proporsional*/
}

/* Anuncios */
.contenedor-anuncios {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /*PAG ANUNCIOS se deba pasar en el padre y nos ayuda a que el contenido se vaya hacia abajo */
}

.anuncio{
  /*flex-grow: 0;
  flex-shrink: 0; PAG ANUNCIOS Nos sirve para que el contenido se haga mas pequeño si es posible, por defecto viene 1 que significa que si, por eso ponemos 0 para que no se haga
  flex-basis: calc(33.3% - 1rem) este establece la base */
  flex: 0 0 calc(33.3% - 1rem); /*lo de arriba en una sola linea, primero viene flex-grown, luggo shrink y al final la base*/
  border: 1px solid #B5B5B5;
  background-color: #F5F5F5;
  margin-bottom: 2rem;
}

.contenido-anuncio {
  padding: 2rem;
  margin-bottom: 1rem;
}

.contenido-anuncio h3 {
  margin: 0;
  line-height: 3.5rem;
}

.precio {
  color: rgb(113, 222, 129);
}

.iconos-caracteristicas {
  list-style: none; /*vi;etas o estilos de las vinetas*/
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex: 1; /*PAG ANUNCIO para que crezcan los iconos y se vean mas separados este va despues de la linea de abajo*/
  max-width: 500px; /*PAG ANUNCIO para que los iconos de ba;o y dormitorios se vean mas juntos en esa paina*/
}

.iconos-caracteristicas li {
  display: flex;
}

.iconos-caracteristicas li img {
  margin-right: 2rem; /*para la separacion entre los iconos y numeros*/
}

.ver-todas { /*para que el boton verde se posicione a la derecha*/
  display: flex;
  justify-content:flex-end;
}

/*contacto home*/
.imagen-contacto {
  background-image: url(../img/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
}

.contenido-contacto {
  flex: 1; /*factor de crecimiento, toma el tama;o disponible 1000px/1 */ /*para que cada uno tome el tama;o que hay disponible*/
  color: white;
}

.contenido-contacto p {
  font-size: 1.8rem
}

.seccion-inferior {
  display: flex;
  justify-content: space-between;
}

.seccion-inferior .blog {
  flex-basis: 60%;
}

.seccion-inferior .testimoniales {
  flex-basis: calc(40% - 2rem)
}

.entrada-blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; /*pone espacio entre los dos elementos dentro de la entrada del blog*/
}

.entrada-blog:last-of-type {
  margin-bottom: 0; /*eminina el espacio del margin bottom en el ultimo elemento*/
}

.entrada-blog .imagen {
  flex-basis: 40%;
}

.entrada-blog .texto-entrada {
  flex-basis: calc(60% - 3rem);
}

.texto-entrada h4 {
  margin: 0; /*eliminar margen de h4 para que suba el texto y se alinie*/
  line-height: 2.5rem;
}

.texto-entrada a {
  text-decoration: none;
  color:rgb(247, 184, 10);
}

.texto-entrada h4::after { /*el after es para decir que cree el [seudoelemento despues del h4 para crear pseudoelementos creamos la barra*/
  content: ''; /*para que no muestre ningun contenido*/
  display: block; /*para que se cree un bloque y podamos darle las dimensiones*/
  width: 15rem;
  height: .5rem;
  background-color: #71B100;
  margin-top: 1rem; /*para separarle un poco de arriba*/
}

.texto-entrada span {
  color: #E08709;
}

/*Testimoniales*/
.testimonial {
  background-color: #71B100;
  font-size: 2.4rem;
  padding: 2rem;
  line-height: 3rem;
  color: white;
  border-radius: 2rem; /*Para dedondear las esquinas del cuadro verde*/
}

.testimonial p {
  margin-top: 5rem;
  text-align: right;
}

blockquote::before { /*para posicionar las comillas antes del texto esto se crea en un block*/
  content: '';
  background-image: url(../img/comilla.svg);
  width: 4rem;
  height: 4rem;
  position: absolute; /*porque este es el hijo, este se va a mover*/
  left: -2rem;
}

blockquote {
  position: relative; /*este es el hijo, este se va a quedr quito y sera la referencia*/
  padding-left: 5rem; /*se asigna el espacio que recore el texto hacia la derecha*/
  font-weight: 300;
}

/*footer*/
.site-footer {
  background-color: #333333;
  margin: 0;
}

.contenedor-footer {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.contenedor-footer p {
  margin: 0;
  color: white;
}

/*INTERNAS*/
/*PAG NOSOTROS*/
.contenido-nosotros {
  display: grid;
  grid-template-columns: repeat(2,1fr); /* 50% 50% para dividir la seccion en dos partes iguales usando grid*/
  grid-column-gap:2rem; /*para agregar separacion entre las fracciones o seciones de grid*/
}

/*PAGINA ANUNCIO*/
.resumen-propiedad {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
